@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
        box-sizing: border-box;
        font-family: "Poppins", sans-serif;
    }

    body {
        background-color: #f6f6f6;
        overflow-x: hidden;
    }

    .card {
        background-color: #fff;
        border-radius: 10px;
        border: none;
        position: relative;
        margin-top: 15px;
        box-shadow: 0px 0px 10px #BDBDBD;
        width: 100%;
    }

    .card-title {
        background-color: #fff;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        border: none;
        position: relative;
        box-shadow: 0px 0px 10px #BDBDBD;
        /* width: 100%; */
        /* font-size: 10px; */
        padding: 20px;
    }
    
    .card-date {
        background-color: #fff;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        border: none;
        position: relative;
        box-shadow: 0px 0px 10px #BDBDBD;
        padding: 20px;
    }

    .card-photo {
        background-color: hwb(0 100% 0%);
        border-radius: 20px;
        box-shadow: 0px 0px 10px #BDBDBD;
        margin: 40px;
    }

    .announcement-photo {
        height: 100%;
		width: 100%;
		object-fit: contain;
		cursor: pointer;
        border-radius: 40px;
		padding: 20px;
    }
    
    h2 {
        color: black;
    }

    .header {
        background-color: white;
        border-radius: 10px;
        margin-top: 15px;
        margin-bottom: 15px;
        box-shadow: 0px 0px 10px #BDBDBD;
        width: 100%;
        line-height: 30px;
        align-self: center;
        padding: 10px 25px;
    }

    .card-footer {
        background-color: transparent;
        padding: 20px 25px; 
    }

    .container {
        display: flex;
        flex-direction: column;
        padding: 15px;
        padding-top: 2px;
        padding-bottom: 2px;
        overflow: auto;
    }

    .top-table {
        line-height: 30px;
        -ms-grid-row-align: center;
        align-self: center;
        width: 100%;
        padding: 10px 15px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .search-box {
    	background: #ebe9e9;
        border-radius: 10px;
        color: #000;
        align-items: center;
        gap: 5px;
        padding: 4px 12px;
    }

    .search-box input {
        margin-left: 5px;
        border: none; 
        border-radius: 5px; 
        outline: none;
        padding: 5px;
    }

    .search-box i {
        border: 1px; 
        border-radius: 10px; 
        color: green;
    }

    button {
        border: none; 
    }

    .add-btn {
        background-color: green;
        color: white;
        border-radius: 6px;
        margin-left: 0%;
        top: 10px;
        display: flex;
        padding: 10px;
    }

    .add-btn:hover {
        background-color: #66BB6A;
        margin-left: 0%;
        border-radius: 6px;
        color: black;
    }

    .table {
        width: 100%;
        border-collapse: collapse;
    }

    #table {
        padding: 0 10px;
        border-radius: 10px;
        width: 100%; 
        overflow: scroll; 
        height: auto;
        max-height: 60vh;
    }

    #table-res table {
        width: fit-content; 
        table-layout: fixed;
        width: 100%;
    }

    .table:not(.table-sm) tbody th {
        border-bottom: none;
        background-color: #afe1af;
        color: black;
        padding-top: 15px;
        padding-bottom: 15px;
        text-align: center;
        position: sticky;
        top: 0px;
        text-transform: uppercase;
    }

    tr:hover {
        background-color: #d5d5d5;
    } 
    
    table tr:nth-child(even) {
        background: #e9e9eb;
    }

    table th,
    table td {
        padding: .5em;
        text-align: left;
    }

    table td {
        font-size: .85em;
        letter-spacing: .05em;
        text-align: center;
    }

    #table-res tbody {
        white-space: nowrap; 
        display: block;
    }

    #table::-webkit-scrollbar {
        width: 4px;
        height: 6px;
    }

    #table::-webkit-scrollbar-track {
        background-color: #f1f1f1;
    }

    #table::-webkit-scrollbar-thumb {
        background-color: #888;
        border-radius: 4px;
    }

    #table::-webkit-scrollbar-thumb:hover {
        background-color: #555;
    }

    body::-webkit-scrollbar {
        width: 5px; 
    }

    body::-webkit-scrollbar-track {
        background-color: #f6f6f6; 
    }

    body::-webkit-scrollbar-thumb {
        background-color: #ccc; 
    }

    body::-webkit-scrollbar-thumb:hover {
        background-color: #aaa; 
    }   

    .modal-container {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.7);
        z-index: 1;
        justify-content: center;
        align-items: center;
    }
    
    .modal-content {
        position: relative;
        background-color: #fff;
        border-radius: 5px;
        width: 60%; 
        max-height: 75vh; 
        overflow-y: auto; 
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    }
    
    .form-group {
        margin: 15px;
        padding: 20px;
    }
    
    .form-group label {
        font-weight: bold;
        margin-bottom: 5px;
    }
    
    .form-control {
        width: 100%;
        padding: 10px;
        border: none;
        background-color: transparent;
        outline: none;
        box-shadow: none;
    }

    h1 {
        text-align: center;
    }

    p {
        text-align: center;
        margin: 6px;
    }

    .header-container {
        display: flex;
        justify-content: space-between;
        background-color: #999;
        padding: 20px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .close-modal {
        font-size: 24px;
        cursor: pointer;
    }

    #announcementDescription {
        resize: none; 
        text-align: justify; 
    }

    ::-webkit-scrollbar {
        width: 5px; 
    }

    ::-webkit-scrollbar-track {
        background-color: #f6f6f6; 
    }

    ::-webkit-scrollbar-thumb {
        background-color: #ccc; 
    }

    ::-webkit-scrollbar-thumb:hover {
        background-color: #aaa; 
    } 

    ::-webkit-scrollbar {
        width: 0px; 
    }
    
    ::-webkit-scrollbar-track {
        background-color: #f6f6f6; 
    }

    ::-webkit-scrollbar-thumb {
        background-color: #ccc; 
    }

    ::-webkit-scrollbar-thumb:hover {
        background-color: #aaa; 
    } 
