@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
		box-sizing: border-box;
		font-family: "Poppins", sans-serif;
	}

	.card {
		border-radius: 10px;
		border: none;
		margin: 20px;
	}

	h2 {
		/* margin-bottom: 20px; */
		text-align: center;
		font: 2.5em sans-serif;
	}

	form {
		background-color: #FFFFFF;
		border-radius: 10px;
		box-shadow: 0px 0px 10px #BDBDBD;
		padding: 50px;
		padding-top: 20px;
		max-width: 600px;
		margin: auto;
		width: 100%;
	}

	label {
		display: block;
		font-size: 16px;
		font-weight: 600;
		margin-bottom: 5px;
		color: #333333;
	}

    input[type="text"],
	input[type="email"],
	input[type="password"] {
		background-color: #F2F2F2;
		border: none;
		border-radius: 5px;
		box-shadow: inset 0px 0px 5px #BDBDBD;
		display: block;
		font-size: 16px;
		margin-bottom: 20px;
		padding: 10px;
		width: 100%;
	}

    input[type="file"] {
		background-color: #F2F2F2;
		border: none;
		border-radius: 5px;
		box-shadow: white;
		display: block;
		font-size: 16px;
		margin-bottom: 20px;
		padding: 10px;
		width: 100%;
	}

	#password {
		padding-right: 40px;
	}

	input[type="text"]:focus,
    input[type="email"]:focus,
	input[type="password"]:focus {
		background-color: #FFFFFF;
		box-shadow: inset 0px 0px 5px #89CFF0;
		color: black;
		outline: none;
	}

	.form-group {
		position: relative;
	}

	/* .form-group .input-icon {
		position: absolute;
		top: 70%;
		transform: translateY(-50%);
		z-index: 1;
	}

	.input-icon {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 40px;
	  }
	  
	.input-icon i {
		color: #555; 
		font-size: 18px; 
	} */

	.input-icon-end {
		position: absolute;
		top: 70%;
		right: 1px; 
		transform: translateY(-50%);
		z-index: 1;
	}

	.input-icon-end {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 40px;
	}

	.input-icon-end i {
		color: #555; 
		font-size: 18px; 
	}

    select.form-select {
        background-color: #F2F2F2;
		color: black;
		border-radius: 6px;
		width: 100%;
		border-color: #1A0046FF;
		border: none;
		padding: 5px;
		font-size: 18px;
        margin-bottom: 20px;
		border: 3px solid #ced4da;
	}
    
	select.form-select:focus {
		outline: #333333;
	}

	select.form-select option {
		background-color: white;
		color: black;
		font-size: 16px;
		padding: 10px;
	}

    select.form-select:hover {
        cursor: pointer;
    }

    option {
		background-color: white;
		color: black;
		font-size: 16px;
		padding: 10px;
	}
	
	button {
		background-color: #89CFF0;
		color: black;
		border-radius: 6px;
		width: 100%;
		height: 40px;
		margin-top: 10px;
		font-size: 20px;
		border: none;
	}

	button[type="submit"]:hover {
		background-color: #4169E1;
		cursor: pointer;
	}