@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
		box-sizing: border-box;
		font-family: "Poppins", sans-serif;
	}

    .card {
        background-color: #fff;
        border-radius: 10px;
        border: none;
        position: relative;
        margin-bottom: 15px;
        box-shadow: 0px 0px 10px #BDBDBD;
        width: 100%;
    }

    h2 {
        color: black;
    }

    .header {
        background-color: white;
        border-radius: 10px;
        margin-top: 15px;
        margin-bottom: 15px;
        box-shadow: 0px 0px 10px #BDBDBD;
        width: 100%;
        line-height: 30px;
        align-self: center;
        padding: 10px 25px;
    }

    .top-table {
        line-height: 30px;
        -ms-grid-row-align: center;
        align-self: center;
        width: 100%;
        padding: 10px 15px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .container {
        display: flex;
        flex-direction: column;
        padding: 15px;
        padding-top: 2px;
        padding-bottom: 2px;
        overflow: auto;
    }

	.card-body {
		padding: 50px;
		padding-top: 20px;
	}

    form {
        display: inline;
        margin-right: 10px;
    }

	label {
		display: block;
		font-size: 16px;
		font-weight: 600;
		margin-bottom: 5px;
		color: #333333;
	}

    input[type="text"],
	input[type="email"],
	input[type="password"] {
		background-color: #F2F2F2;
		border: none;
		border-radius: 5px;
		box-shadow: inset 0px 0px 5px #BDBDBD;
		display: block;
		font-size: 16px;
		margin-bottom: 20px;
		padding: 10px;
		width: 100%;
	}

    input[type="file"] {
		background-color: #F2F2F2;
		border: none;
		border-radius: 5px;
		box-shadow: white;
		display: block;
		font-size: 16px;
		margin-bottom: 20px;
		padding: 10px;
		width: 100%;
	}

	#password {
        border-right: 50px solid #ccc !important;
	}

	input[type="text"]:focus,
    input[type="email"]:focus,
	input[type="password"]:focus {
		background-color: #FFFFFF;
		box-shadow: inset 0px 0px 5px green;
		color: black;
		outline: none;
	}

	.form-group {
		position: relative;
	}
	
	.input-icon-end {
		position: absolute;
		top: 55%;
		right: 5px; 
		transform: translateY(-50%);
		z-index: 1;
	}

	.input-icon-end {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 40px;
	}
	
	.input-icon-end i {
		color: #555; 
		font-size: 18px; 
	}

    select.form-select {
        background-color: #F2F2F2;
		color: black;
		border-radius: 6px;
		width: 100%;
		border-color: #1A0046FF;
		border: none;
		padding: 5px;
		font-size: 18px;
        margin-bottom: 20px;
		border: 3px solid #ced4da;
	}
    
	select.form-select:focus {
		outline: #333333;
	}

	select.form-select option {
		background-color: white;
		color: black;
		font-size: 16px;
		padding: 10px;
	}

    select.form-select:hover {
        cursor: pointer;
    }

    option {
		background-color: white;
		color: black;
		font-size: 16px;
		padding: 10px;
	}
	
	button {
		background-color: #89CFF0;
		color: black;
		border-radius: 6px;
		width: 100%;
		height: 40px;
		margin-top: 20px;
		font-size: 20px;
		border: none;
	}

	.alert-danger {
		background-color: #f2dede;
		border-color: #ebccd1;
		color: #a94442;
		text-align: center;
	}

	.alert {
		padding: 15px;
		border: 1px solid transparent;
		border-radius: 5px;
	}

    .input-box {
        display: flex;
        flex-direction: column;
    }

    .user-details {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, auto);
		column-gap: 30px;
      }
      @media screen and (min-width: 768px) {
        .user-details {
          grid-template-columns: repeat(2, 1fr);
        }
      }
      @media screen and (max-width: 767px) {
        .user-details {
          grid-template-columns: repeat(1, 1fr);
        }
      }

    .input-box {
        position: relative;
    }
    
    .input-group-prepend {
        position: absolute;
        left: 15px; 
        top: 55%; 
        transform: translateY(-50%);
    }
    
    .input-icon {
        color: #555; 
        font-size: 18px; 
        pointer-events: none; 
		color: green;
    }
    
    #user_name,
    #password,
    #first_name,
    #last_name,
    #contact_number,
    #email,
    #photo,
    #role,
	#block_no,
	#lot_no,
	#manual_visit_option,
	.input-member {
        border-left: 50px solid #ccc !important;
    }

	.input-member {
		width: 50% !important;
	}

	.input-box-member {
		display: flex; 
		align-items: center; 
	}

	.icon-member {
		position: absolute;
        transform: translateY(-50%);
		color: green;
		margin: 15px; 
	}
	
	.input-member {
		flex-grow: 1; 
	}
	
	.removeMember {
		margin-left: 15px; 
		background-color: #388E3C;
		color: black;
		border-radius: 6px;
		width: 20%;
		height: 40px;
		margin-top: -20px;
	}

	.removeMember:hover {
		background-color: #66BB6A;
		color: black;
	}

	#addMember {
		background-color: #388E3C;
		color: black;
		width: 30%;
		margin-top: 0px;
	}

	#addMember:hover {
		background-color: #66BB6A;
		color: black;
	}

    button {
        text-align: center;
        border-radius: 6px;
        width: 100px;
        height: 40px;
        border: none;
        margin-top: 5px;
        display: inline-block;
        vertical-align: middle;
        font-size: 20px;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }

    button.btn-primary {
		background-color: green;
		width: 50%;
    }
    
    button.btn-primary:hover {
        background-color: #66BB6A;
    }

    button.btn-danger {
        float: right;
        background-color: maroon;
        color: white;
    }
    button.btn-danger:hover {
        background-color: red;
        color: white;
    }

	
	


