@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
        box-sizing: border-box;
        font-family: "Poppins", sans-serif;
    }

    body {
        background-color: #f6f6f6;
        overflow-x: hidden;
    }

    .card {
        background-color: #fff;
        border-radius: 10px;
        border: none;
        position: relative;
        margin-top: 15px;
        margin-bottom: 15px;
        box-shadow: 0px 0px 10px #BDBDBD;
        width: 100%;
    }

    h2 {
        color: black;
    }

    .header {
        background-color: white;
        border-radius: 10px;
        margin-top: 15px;
        margin-bottom: 15px;
        box-shadow: 0px 0px 10px #BDBDBD;
        width: 100%;
        line-height: 30px;
        align-self: center;
        padding: 10px 25px;
    }

    .top-table {
        line-height: 30px;
        -ms-grid-row-align: center;
        align-self: center;
        width: 100%;
        padding: 10px 15px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .card-footer {
        background-color: transparent;
        padding: 20px 25px; 
    }

    .container {
        display: flex;
        flex-direction: column;
        padding: 15px;
        padding-top: 2px;
        padding-bottom: 2px;
        overflow: auto;
    }

    .search-box {
    	background: #ebe9e9;
        border-radius: 10px;
        color: #000;
        align-items: center;
        gap: 5px;
        padding: 4px 12px;
    }

    .search-box input {
        margin-left: 5px;
        border: none; 
        border-radius: 5px; 
        outline: none;
        padding: 5px;
    }

    .search-box i {
        border: 1px; 
        border-radius: 10px; 
        color: green;
    }

    button {
        border: none; 
    }

    .table {
        width: 100%;
        border-collapse: collapse;
    }

    #table {
        padding: 0 10px;
        border-radius: 10px;
        width: 100%; 
        overflow: scroll; 
        height: auto;
        max-height: 480px;
    }

    #table-res table {
        width: fit-content; 
        table-layout: fixed;
        width: 100%;
    }

    .table:not(.table-sm) tbody th {
        border-bottom: none;
        background-color: #afe1af;
        color: black;
        padding-top: 15px;
        padding-bottom: 15px;
        text-align: center;
        position: sticky;
        top: 0px;
        text-transform: uppercase;
    }

    tr:hover {
        background-color: #d5d5d5;
    } 
    
    table tr:nth-child(even) {
        background: #e9e9eb;
    }

    table th,
    table td {
        padding: .5em;
        text-align: left;
    }

    table td {
        font-size: .85em;
        letter-spacing: .05em;
        text-align: center;
    }

    #table-res tbody {
        white-space: nowrap; 
        display: block;
    }

    #table::-webkit-scrollbar {
        width: 4px;
        height: 6px;
    }

    #table::-webkit-scrollbar-track {
        background-color: #f1f1f1;
    }

    #table::-webkit-scrollbar-thumb {
        background-color: #888;
        border-radius: 4px;
    }

    #table::-webkit-scrollbar-thumb:hover {
        background-color: #555;
    }

    .pagination {
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }

    .pagination .page-item:not(.disabled) .page-link {
        color: #fff;
        background-color: #28a745; 
        border-color: #28a745; 
    }

    .pagination .page-item:not(.disabled) .page-link:hover {
        background-color: #218838; 
        border-color: #218838; 
    }

    .pagination .page-item.active .page-link {
        background-color: #218838; 
        border-color: #218838;
        color: black;
        font-weight: bold;
    }

    .pagination .page-link {
        padding: 10px;
    }

    body::-webkit-scrollbar {
        width: 5px; 
    }

    body::-webkit-scrollbar-track {
        background-color: #f6f6f6; 
    }

    body::-webkit-scrollbar-thumb {
        background-color: #ccc; 
    }

    body::-webkit-scrollbar-thumb:hover {
        background-color: #aaa; 
    }  

    .add-btn {
        background-color: green;
        color: white;
        border-radius: 6px;
        margin-left: 0%;
        top: 10px;
        display: flex;
        padding: 10px;
    }

    .add-btn:hover {
        background-color: #66BB6A;
        margin-left: 0%;
        border-radius: 6px;
        color: black;
    }

    .tooltip {
        position: relative;
        cursor: pointer;
    }

    .tooltip .tooltiptext {
        visibility: hidden;
        width: 150px;
        height: 150px;
        background-color: #f0f0f0;
        color: #000;
        text-align: center;
        border-radius: 6px;
        padding: 5px;
        position: absolute;
        z-index: 1;
        top: 50%; 
        left: 100%; 
        margin-top: -30px; 
        transition: opacity 0.3s;
    }

    .tooltip .tooltiptext img {
        width: 60px;
        height: 60px;
        margin-top: 7px;
        object-fit: contain;
        object-position: center;
        border-radius: 50%;
    }

    .tooltip:hover .tooltiptext {
        visibility: visible;
        opacity: 1;
    }

    .button-container {
        display: flex;
        justify-content: space-between;
    }

    .button-1,
    .button-2,
    .button-3 {
        border: none;
    }

