@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
        box-sizing: border-box;
        font-family: "Poppins", sans-serif;
    }
	body {
		background-color: #f6f6f6;
		overflow-x: hidden;
	} 

    .card {
        background-color: #fff;
        border-radius: 10px;
        border: none;
        position: relative;
        margin-top: 15px;
        margin-bottom: 15px;
        box-shadow: 0px 0px 10px #BDBDBD;
        width: 100%;
    }

    h2 {
        color: white;
    }

    .card .card-header {
        border-bottom-color: #f9f9f9;
        line-height: 30px;
        -ms-grid-row-align: center;
        align-self: center;
        width: 100%;
        padding: 10px 25px;
        display: flex;
        align-items: center;
        border-radius: 10px;
        background: #11101D;
        /* background-image: linear-gradient(to right, #9C27B0FF, #1A0046FF); */
      }

    .card-footer {
        background-color: transparent;
        padding: 20px 25px; 
    }

    .container {
        display: flex;
        flex-direction: column;
        padding: 15px;
        padding-top: 2px;
        padding-bottom: 2px;
        overflow: auto;
    }
    
	h4 {
		font-size: 20px;
		font-weight: 700;
	}

	.card-body {
		padding: 50px;
		padding-top: 20px;
	}

    form {
        display: inline;
        margin-right: 10px;
    }

	label {
		display: block;
		font-size: 16px;
		font-weight: 600;
		margin-bottom: 10px;
		color: #333333;
	}
	input[type="text"], 
	input[type="tel"], 
	input[type="email"], 
	input[type="password"] {
		background-color: #F2F2F2;
		border: none;
		border-radius: 5px;
		box-shadow: inset 0px 0px 5px #89CFF0;
		display: block;
		font-size: 16px;
		margin-bottom: 20px;
		padding: 10px;
		width: 100%;
	}
    input[type="text"]:focus , 
	input[type="tel"]:focus , 
	input[type="email"]:focus , 
	input[type="password"]:focus {
		background-color: #FFFFFF;
		box-shadow: inset 0px 0px 5px #4169E1;
		color: black;
		outline: none;
	}
	/* button[type="submit"] {
		margin-top: 5px;
		background-color: #89CFF0;
		border: none;
		border-radius: 5px;
		color: #FFFFFF;
		cursor: pointer;
		font-size: 16px;
	} */
    button {
        text-align: center;
        border-radius: 6px;
        width: 100px;
        height: 40px;
        border: none;
        margin-top: 5px;
        display: inline-block;
        vertical-align: middle;
        font-size: 20px;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }

    button.btn-primary {
        background-color: #89CFF0;
    }
    
    button.btn-primary:hover {
        background-color: #4169E1;
    }
    button.btn-danger {
        float: right;
        background-color: maroon;
        color: white;
    }
    button.btn-danger:hover {
        background-color: red;
        color: white;
    }

    select.form-select {
		background-color: #F2F2F2;
		border: none;
		border-radius: 5px;
		width: 100%;
        box-shadow: inset 0px 0px 5px #89CFF0;
		display: block;
		font-size: 16px;
		margin-bottom: 20px;
		padding: 10px;
		width: 100%;
	}
	select.form-select:focus {
		background-color: #FFFFFF;
		box-shadow: inset 0px 0px 5px #4169E1;
		color: black;
		outline: none;
	}

	body::-webkit-scrollbar {
		width: 5px; 
	}
	body::-webkit-scrollbar-track {
		background-color: #f6f6f6; 
	}
	body::-webkit-scrollbar-thumb {
		background-color: #ccc; 
	}
	body::-webkit-scrollbar-thumb:hover {
		background-color: #aaa; 
	}  

    
    